.examcoord-timetable-main {
    margin: 2em;
    width: 100%;
}

.examcoord-timetable-main .admin-timetable-header {
    display: flex;
    max-width: 700px;
    justify-content: space-between;
}

.examcoord-timetable-main .admin-timetable-header-btn {
    gap: 1em;
}

.examcoord-timetable-main .admin-timetable-header h1 {
    color: var(--primary-color);
}

.examcoord-timetable-main{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-top: 2.5em;
}

.examcoord-timetable-main th {
    background: var(--grey-bg);
    background-color: rgb(213, 213, 213);
    color: var(--dark-grey);
    padding: 0.75em;
    width: 100%;
}

.admin-timetable-table-wrapper {
    width: 100%;
}

.admin-timetable-table tbody tr {
    border: 1px solid var(--grey-bg);
    color: var(--text-color);
    font-size: 0.9em;
}

.admin-timetable-table  {
    box-shadow: 0px 2px 6px 0px rgb(243, 243, 243);
}

.examcoord-timetable-table  {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5em;
    float: unset;
}

.examcoord-timetable-table th {
    background: var(--grey-bg);
    padding: 1em;
}

.timetable-modal  {
    border: 1px solid var(--grey-bg);
}

.timetable-close-icon {
    float: right;
    margin-bottom: 1em;
    cursor: pointer;
    color: var(--strong-red);
}

.examcoord-timetable-table .timetable-modal td{
    padding: 1em;
    color: var(--text-color);
    text-align: center;
}

.admin-timetable-table tbody td {
    padding: 1.5em !important;
}

.open-modal {
   background: none;
   color: var(--primary-color);
   border: none;
   cursor: pointer;
   font-size: 1.1em;
}

.approval {
    color: #4CAF50;
}