.approval-main {
    width: 100%;
    margin: 0em 3em;
}

.approval-main .approve-main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1em 0;
}

.approval-main .approve-main-header .SelectInput {
    width: 200px;
}

.approval-main .back-btn {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.approval-main .back-btn img {
    width: 30px;
}

.approval-main .approve-list-header {
    color: var(--primary-color);
    width: 100%;
    /* margin-bottom: 1em;
    margin-top: 1em; */
}

.approval-main .back-btn .back-btn-text {
    font-weight: bold;
    font-size: 1.1em;
    color: var(--text-color);
}

.approval-main .approve-list-wrapper {
    border-collapse: collapse;
    /* display: block; */
    width: 100%;
    border-spacing: 0;
}

.approval-main .approve-list-wrapper th {
    background: var(--grey-bg);
    color: var(--black);
    font-size: 0.9em;
    padding: 0.85em;
    width: 20%;
}

.approval-main .approve-list-wrapper td {
    padding: 0.25em;
    color: var(--text-color);
    font-size: 0.9em;
}

.approval-main .approve-list-wrapper .approve-table-row {
    border: 1px solid var(--grey-bg);
}

.approval-main .approve-list-wrapper a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 0.9em;
}

.approval-main .approve-list-wrapper .approve-table-row {
    text-align: center;
}

.approval-main .approve-list-wrapper .approve-table-btn-wrapper{
    gap: 1em;
    padding: 0.75em;
}

.approval-main .approve-list-wrapper .approval-profile-img {
    width: 40px;
    border-radius: 50%;
    margin: 0.25em 0em;
}

.approval-main .approve-list-wrapper .approve-list-avatar {
    width: 30px;
    padding: 0.25em;
    filter: var(--svg-grey);
    border-radius: 25px;
}