.approval-main {
    margin: 1.5em 2em;
    width: 70%;
}

.approval-main .back-btn {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.approval-main .back-btn img {
    width: 30px;
}

.approval-main .approve-list-header {
    color: var(--primary-color);
    margin-bottom: 1.5em;
    margin-left: 1em;
}

.approval-main .back-btn .back-btn-text {
    font-weight: bold;
    font-size: 1.1em;
    color: var(--text-color);
}

.approval-main .approve-list-wrapper {
    width: 100%;
}

.approval-main .approve-list-wrapper .approve-list-avatar {
    width: 30px;
}