.approval-main {
    margin:0 auto;
    height: 100%;
}

.approval-main .back-btn {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.approval-main .back-btn img {
    width: 30px;
}

.approval-main .approve-list-header {
    color: var(--primary-color);
    margin-bottom: 2em;
    margin-top: 2em;
}

.approval-main .back-btn .back-btn-text {
    font-weight: bold;
    font-size: 1.1em;
    color: var(--text-color);
}

.approval-main .approve-list-wrapper {
    border-collapse: collapse;
    width: 1000px;
}

.approval-main .approve-list-wrapper th {
    background: var(--grey-bg);
    padding: 0.5em;
}

.approval-main .approve-list-wrapper td {
    padding: 0.5em;
    border: 1px solid var(--grey-bg);
}

.approval-main .approve-list-wrapper .approve-table-row {
    text-align: center;
}

.approval-main .approve-list-wrapper .approve-list-avatar {
    width: 30px;
    padding: 0.25em;
    filter: var(--svg-grey);
    border-radius: 25px;
}