.attendance-main {
    margin: 2em;
    width: 100%;
}

.attendance-table-wrapper {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-top: 2em;
}


.attendance-table-wrapper .thead th {
    padding: 0.75em;
    background: var(--grey-bg);
}

.attendance-table-wrapper td {
    padding: 0.75em;
    color: var(--text-color);
    font-size: 0.9em;
}

.attendance-table-wrapper .attendance-table-row {
    border: 1px solid var(--grey-bg);
}