.admin-timetable-main {
    margin: 2em;
    width: 100%;
}

.admin-timetable-main .admin-timetable-header {
    display: flex;
    max-width: 700px;
    justify-content: space-between;
}

.admin-timetable-main .admin-timetable-header-btn {
    gap: 1em;
}

.admin-timetable-main .admin-timetable-header h1 {
    color: var(--primary-color);
}

.admin-timetable-main .admin-timetable-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-top: 2.5em;
}

.admin-timetable-main .admin-timetable-table th {
    background: var(--grey-bg);
    color: var(--dark-grey);
    padding: 0.75em;
}

.admin-timetable-main .admin-timetable-table tbody tr {
    border: 1px solid var(--grey-bg);
    color: var(--text-color);
    font-size: 0.9em;
}

.admin-timetable-main .admin-timetable-table td {
    padding: 1em;
}

.upload-timetable-wrapper {
    position: relative;
    width: 100%;
}

.upload-timetable-wrapper .timetable-close-icon {
    position: absolute;
    right: 1em;
    cursor: pointer;
    color: var(--strong-red);
}

.upload-timetable-wrapper .upload-timetable-hdng {
    color: var(--primary-color);
    margin-bottom: 1em;
}

.upload-timetable-wrapper .upload-wrapper input[type=file] {
    display: none;
}

.upload-timetable-wrapper .upload-wrapper .timetable-upload-btn {
    gap: 0.5em;
    max-width: 300px;
    margin: auto;
}

.upload-timetable-wrapper .upload-wrapper .timetable-send-btn {
    margin-top: 2em;
}

.upload-timetable-wrapper .display-timetable-wrapper {
    display: flex;
    gap: 1em;
    margin-bottom: 2em;
    margin-top: 2em;
    flex-wrap: wrap;
}

.upload-timetable-wrapper .upload-file-info {
    display: flex;
    gap: 0.25em;
    align-items: center;
    background: var(--grey-bg);
    border: 1px solid var(--grey-bg);
    padding: 0.25em;
    color: var(--dark-grey);
}

.upload-timetable-wrapper .upload-file-info .file-info {
    margin-right: 0.35em;
}

.upload-timetable-wrapper .upload-file-info .file-info h4 {
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

.upload-timetable-wrapper .upload-file-info .file-info p {
    font-size: 0.8em;
}

.close-icon {
    color: var(--strong-red);
    cursor: pointer;
}

.plus {

    padding: 1em 1em 1em 1em;
}

.minus {
    padding: 1em 1em 1em 1em;
}

.btn-submit {

    background-color: var(--primary-color);
    padding: 0.8em 2em;
    color: var(--white);
    cursor: pointer;
    border-radius: 4px;

    margin-top: 2em;
}