.admin-timetable-main {
    margin: 2em;
    width: 100%;
}

.admin-timetable-main .admin-timetable-header {
    display: flex;
    justify-content: space-between;
}

.admin-timetable-main .admin-timetable-header-btn {
    gap: 1em;
}

.admin-timetable-main .admin-timetable-header h1 {
    color: var(--primary-color);
}

.admin-timetable-main .admin-timetable-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-top: 2.5em;
}

.admin-timetable-main .admin-timetable-table th {
    color: var(--dark-grey);
    padding: 0.75em;
    background: var(--grey-bg) !important;
}

.admin-timetable-main .admin-timetable-table .grey-bg {
    background: var(--grey-bg);
}

.admin-timetable-main .admin-timetable-table .plus {
    background-color: #fff;
}

.admin-timetable-main .admin-timetable-table tbody td {
    color: var(--text-color);
    font-size: 0.9em;
}

.admin-timetable-main .admin-timetable-table td {
    padding: 1em;
}

.admin-timetable-main .admin-timetable-info-row {
    border: 1px solid var(--grey-bg);
}

.admin-timetable-main .admin-timetable-info-row td {
    padding: 1.5em !important;
}

.admin-form-table-wrapper th {
    padding-bottom: 1em;
    text-align: left;
    padding-left: 0.5em;
}

.admin-form-table-wrapper {
    width: 100%;
    overflow-y :scroll;
}

.admin-form-table-wrapper td{
    border: 1px solid rgb(212, 212, 212);
}

.admin-form-table-wrapper tbody {
    overflow-y: scroll;
}

.admin-form-table-wrapper .table-form-row .delete-row {
    border: none;
}

.admin-form-table-wrapper .table-form-row input {
  font-weight: 400;
}

.table-form-row .slno {
    padding: 0em 1em;
}

.admin-form-table-wrapper .table-form-row input::placeholder {
    font-weight: 200;
    color: rgb(90, 90, 90);
}

.admin-form-table-wrapper .table-form-row .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-radius: 0px !important;
    border: none !important;
}

.admin-form-table-wrapper {
    border-collapse: collapse;
}

.admin-upload .select-box {
    margin: 2em 4em 2em 0em;
}

/* .upload-timetable-wrapper {
    position: relative;
    width: 100%;
} */

.upload-timetable-wrapper .timetable-close-icon {
    position: absolute;
    right: 1em;
    cursor: pointer;
    color: var(--strong-red);
}

.upload-timetable-wrapper .upload-timetable-hdng {
    color: var(--primary-color);
    margin-bottom: 1em;
}

.upload-timetable-wrapper .select-box {
    display: flex;
}

.upload-timetable-wrapper .upload-wrapper .timetable-send-btn {
    margin-top: 2em;
}

.upload-timetable-wrapper .display-timetable-wrapper {
    display: flex;
    gap: 1em;
    margin-bottom: 2em;
    margin-top: 2em;
    flex-wrap: wrap;
}

.plus {
    padding: 0.5em 0.75em;
}

.minus {
    padding: 1em 1em 1em 1em;
    cursor: pointer;
}

.upload-timetable-wrapper .btn-submit {
    background-color: var(--primary-color);
    padding: 0.8em 2em;
    color: var(--white);
    cursor: pointer;
    border-radius: 4px;
    margin-top: 2em;
    outline: none;
    border: none;
}

 .admin-timetable-classList-menu {
    width: 30%;
}

.admin-timetable-classList-menu label{
    padding-right: 0.3em;
    top: -0.5em;
}

.MuiModal-root {
    z-index: 10005 !important;
}

.Approved {color: var(--strong-green);}
.Rejected {color: var(--strong-red);}
.field-error {
    color: var(--strong-red);
    margin-top: 1em;
    text-align: center;
    font-size: 0.9em;
}