.dashboard-container{
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.dashboard-header{
    gap: 1em;
    margin: 1em 0;
}

.dashboard-header img{
    filter: invert(51%) sepia(38%) saturate(5229%) hue-rotate(190deg) brightness(95%) contrast(102%);
}

.dashboard-header h1{
    color: var(--primary-color);
}

.dashboard-suInfo{
    flex-direction: column;
    margin: 2em 4em;
}

.dashboard-suInfo p{
    text-align: justify;
    font-size: 1.05em;
    line-height: 1.5em;
    margin-top: 1em;
}

.dashboard-suInfo p>span{
    margin-left: 4em;
}

.dashboard-chancellor{
    margin: 0 4em;
    margin-top: 3em;
    gap: 1em;
}

.dashboard-chancellor p{
    text-align: justify;
    font-size: 1.05em;
}

.dashboard-chancellor p .chancellor-name{
    font-size: 1.2em;
    font-weight: bold;
}

.dashboard-chancellor p .chancellor-post{
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 1em;
}

.dashboard-chancellor p .para-gap{
    margin-left: 3em;
}

/* FOOTER */
.dashboard-footer{
    /* position: absolute; */
    /* bottom: 0; */
    padding: 1.5em 0;
    padding-bottom: 2em;
    width: 100%;
    margin-top: 5em;
    flex-direction: column;
    background: var(--secondary-gradient);
}

.dashboard-footer .footer-section{
    width: 100%;
    justify-content: space-around;
}

.dashboard-footerLeft .footer-logo{
    gap: 1em;
}

.dashboard-footerLeft .footer-details{
    color: #fff;
}

.dashboard-footerLeft .footer-details p{
    margin: 0.5em 0;
}

.dashboard-footerLeft .footer-details p>span{
    font-weight: bold;
    letter-spacing: 1px;
}

.dashboard-footerLeft .footer-links{
    gap: 1em;
}

.dashboard-footerLeft .footer-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.dashboard-footerLeft .footer-links a:hover{
    background-color: #fff;
}

.dashboard-footerLeft .footer-links #web:hover{
    color: #000;
}
.dashboard-footerLeft .footer-links #fb:hover{
    color: #3b5998;
}
.dashboard-footerLeft .footer-links #twt:hover{
    color: #00acee;
}
.dashboard-footerLeft .footer-links #inst:hover{
    color: #bd5d95;
}
.dashboard-footerLeft .footer-links #lnkin:hover{
    color: #0072b1;
}
.dashboard-footerLeft .footer-links #yt:hover{
    color: #c4302b;
} 

.dashboard-footerRight{
    color: #fff;
    letter-spacing: 1px;
}

.dashboard-footerRight .footer-devs{
    display: flex;
    flex-direction: column;
}

.dashboard-footerRight .footer-devs a{
    color: #fff;
    margin: 0.2em 0;
    margin-left: 1.5em;
}

.dashboard-footerRight .footer-guide{
    margin-top: 0.5em;
}

.dashboard-footerRight .footer-guide a{
    color: #fff;
    margin-top: 1em;
    margin-left: 1.5em;
}

.dashboard-footerRight .footer-guide h3{
    margin-bottom: 0.2em;
}

.dashboard-footer .footer-copyright{
    color: #fff;
    margin-top: 1em;
    letter-spacing: 1px;
}