.forgotPassword-container{
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.forgotPassword-Header{
    flex-direction: column;
    justify-content: space-between;
}

.forgotPassword-logo{
    color: var(--primary-color);
    font-size: 1em;
    gap: 0.5em;
    position: absolute;
    top: 2em;
    left: 2em;
}

.forgotPassword-logo img{
    filter: brightness(0) saturate(100%) invert(44%) sepia(93%) saturate(522%) hue-rotate(170deg) brightness(94%) contrast(105%);
}

.forgotPassword-back{
    position: absolute;
    top: 3em;
    right: 5em;
}

.forgotPassword-back button{
    gap: 0.2em;
    font-size: 1.1em;
    background-color: #fff;
    color: var(--primary-color);
    border: none;
    border-radius: 4px;
    padding: 0.4em 0.8em;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.forgotPassword-Img{
    flex-direction: column;
    margin-top: 3em;
}

.forgotPassword-form label{
    color: var(--text-color);
    margin-left: 0.2em;
}

.forgotPassword-input{
    gap: 1em;
    margin-top: 0.5em;
}

.forgotPassword-input input{
   border: none;
   outline: none;
   background-color: var(--grey-bg);
   padding: 0.6em 1em;
   border-radius: 4px;
   font-size: 1em;
   width: 250px;
}

.forgotPassword-input button{
    border-radius: 3px;
    font-size: 1em;
    min-width: 145px;
}

.forgotPassword-success{
    flex-direction: column;
    color: var(--primary-color);
}

.forgotPassword-success p{
    color: var(--text-color);
    margin-top: 1em;
}

/* RESET PASSWORD PAGE */
.resetPassword-form{
    flex-direction: column;
    margin-top: 13em;
    width: 300px;
}

.resetPassword-form .title{
    font-size: 1.5em;
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: 1em;
}

.forgotPassword-input.reset{
    flex-direction: column;
}

.forgotPassword-input.reset button{
    width: 100%;
}

/* MOBILE CSS */
@media (max-width: 534px){
    .forgotPassword-form{
        width: 100%;
    }
    
    .forgotPassword-form label{
        margin-left: 2em;
    }

    .forgotPassword-input{
        flex-direction: column;
        margin: 0 3em;
    }

    .forgotPassword-input input{
        width: 100%;
        padding: 1em;
        margin-top: 0.5em;
    }

    .forgotPassword-input button{
        width: 330px;
        padding: 1em;
    }

    .resetPassword-form{
        width: 100%;
        margin-top: 5em;
    }

    .resetPassword-form .reset{
        width: 300px;
    }

    .resetPassword-form .reset button{
        width: 330px;
    }
}