.profile-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  /* flex-direction: column;
  justify-content: space-evenly; */
}

.profile-head {
  width: 100%;
  position: relative;
  justify-content: space-around;
  margin-top: 6em;
}

.profile-avatar .profile-camera {
  background-color: var(--grey-bg);
  padding: 0.2em;
  border-radius: 50px;
  position: absolute;
  top: 2.7em;
  left: 2.7em;
  box-shadow: var(--light-shadow);
  cursor: pointer;
}

.profile-title {
  color: var(--text-color);
  flex-direction: column;
  margin-left: 2em;
}

.profile-info-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-name {
  font-size: 1.1em;
  font-weight: bold;
}

.profile-data {
  font-size: 0.8em;
}

.profile-edit {
  border: 1px solid var(--text-color);
  border-radius: 4px;
  padding: 0.3em 0.6em;
  transition: 200ms ease-in-out;
  background-color: var(--white);
  color: var(--light-grey);
  cursor: pointer;
}

.profile-edit:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.profile-edit svg {
  color: inherit;
}

.profile-edit span {
  color: inherit;
  padding: 0 0.5em;
  margin-bottom: 0.1em;
  width: 20px;
}

.profile-userDetails-ReadOnly,
.profile-userDetails {
  gap: 1em;
  flex-direction: column;
  margin: 0 10%;
  margin-top: 4em;
}

.profile-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: var(--grey-bg);
  padding: 0.5em 1em;
  border-radius: 5px;
  width: 100%;
  min-width: fit-content;
}

.profile-row label {
  font-size: 0.9em;
  color: var(--text-color);
  margin-left: 2em;
}

.profile-userDetails-ReadOnly .profile-row :last-child {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: default;
  pointer-events: none;
  color: var(--text-color);
  width: 100%;
  height: 2em;
  font-size: 1em;
  font-weight: bold;
}

.profile-userDetails .profile-row :last-child {
  border: none;
  outline: none;
  font-size: 1em;
  height: 2em;
  text-align: center;
  border-radius: 5px;
}

/* .profile-row.address {
  padding: 0.8em 1em;
  width: 750px;
  grid-column: span 2;
} */

/* .profile-row.address textarea {
  resize: vertical;
  margin-bottom: -1em;
  min-height: 50px;
  vertical-align: middle;
  overflow: hidden;
  min-height: 50px;
  max-height: 100px;
} */

.logout {
  cursor: pointer;
  /* margin-bottom: 1.5em;
  position: absolute;
  bottom: 0px;
  width: 100%; */
}

.logout-btn {
  padding: 0.3em 0.5em;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

.logout-btn svg {
  color: var(--strong-red);
}

.logout-btn:hover {
  background-color: var(--strong-red);
}

.logout-btn:hover svg {
  color: var(--white);
}

.logout-btn:hover span {
  color: var(--white);
}

.logout-btn svg {
  transition-delay: 0.1s;
}

.logout-btn span {
  color: var(--strong-red);
  margin-left: 0.5em;
  font-size: 1.1em;
  transition-delay: 0.1s;
}

.profile-options{
  gap: 2em;
}

.profileImg-container{
  width: 70px;
  border-radius: 50%;
}
/* .profileImg-container img{
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
} */