.attendance-filter {
    margin: 2em;
    /* width: 100%; */
}

.attendance-main-box {
    width: 100%;
    margin: auto;
}

.header {
    margin-top: 3em;
    padding: 0.5em 0em;
    text-align: center;
    width: 100%;
    color: var(--white);
    background-color: rgb(0, 140, 255);
}

.marks-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    box-shadow: 0px 2px 6px 0px rgb(243, 243, 243);
}

.marks-table .thead th {
    padding: 0.75em;
    background: var(--grey-bg);
}

.marks-table td {
    padding: 1em 0em;
    color: var(--text-color);
    font-size: 0.9em;
}

.marks-table .attendance-table td {
    padding: 1.25em 0em;
}

.marks-table .attendance-table {
    border: 1px solid var(--grey-bg);
}