/* .ham-menu-icon {
  position: relative;
  top: 1em;
  left: 0.7em;
  color: var(--text-color);
  cursor: pointer;
  z-index: 10;
} */

.ham-menu-icon {
  width: 100vw;
  height: 3em;
  position: relative;
  top: -3em;
  z-index: 10;
}

.ham-menu-icon svg{
  margin-top: 0.2em;
  margin-left: 1em;
}


.sidebar{
  min-width: 270px;
}

@media (max-width: 534px) {
  .sidebar{
    min-width: 0 !important;
    width: 0 !important;
  }
}

.sidebar-header {
  background: var(--secondary-gradient);
  width: 100%;
  padding: 1.4em 0;
}

.logo h1 {
  font-size: 1.1em;
  color: #fff;
  margin-left: 0.5em;
}

.profile-pic-container {
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  object-fit: cover;
}

.user-profile {
  justify-content: space-evenly !important;
  margin-top: 2.75em;
  cursor: pointer;
  object-fit: cover;
}

.user-avatar {
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.user-avatar img {
  margin-bottom: 0.1em;
}

.user-name {
  color: #fff;
  text-align: center;
}

.user-name h2 {
  font-size: 1.4em;
}

.user-name h3 {
  font-size: 0.8em;
}

.sidebar-nav ul {
  list-style: none;
  width: 100%;
}

.sidebar-nav ul li {
  width: 100%;
}

.navlink {
  text-decoration: none;
  padding: 0.5em 0;
  position: relative;
  justify-content: start !important;
  padding-left: 20%;
  white-space: nowrap;
  /* background-color: grey; */
}

.navlink img {
  filter: var(--svg-grey);
}

.navlink span {
  color: var(--text-color);
  margin-left: 1em;
  font-size: 1.1em;
}

.active img {
  filter: var(--svg-blue);
}

.active span {
  color: var(--primary-color) !important;
}

.MuiListItemButton-root {
  padding: 0px !important;
} 

.MuiListItemIcon-root{
  min-width: 17px !important;
}

.active::after {
  content: "";
  width: 6px;
  height: 100%;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  border-radius: 0 5px 5px 0;
}

.multiLink {
  flex-direction: column;
  user-select: none;
  width: 100%;
}

.dropdownLink {
  cursor: pointer;
  padding: 1em 0;
  width: 100%;
  position: relative;
  justify-content: start !important;
  padding-left: 20%;
  margin-left: 20%;
}

.dropdownLink span {
  color: var(--text-color);
  margin-left: 1em;
  font-size: 1.1em;
}

[data-notify="active"]::after{
  content: '';
  background-color: red;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  position: absolute;
  top: 0.3em;
  /* left: 10.8em; */
  right:3em;
}

[data-notify="active-drop"]::after{
  content: '';
  background-color: red;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  position: absolute;
  top: 0.3em;
  left: 10.8em;
}

.dropdown li {
  margin-bottom: 0;
}

.dropdown span {
  font-size: 1em;
}

.dropdownLink img {
  filter: var(--svg-grey);
}

.sidebar-arrow {
  text-align: right;
  color: var(--text-color);
  position: absolute;
  right: 7em;
}

.aactive img {
  filter: invert(46%) sepia(94%) saturate(2597%) hue-rotate(191deg)
    brightness(95%) contrast(101%);
}

.aactive .sidebar-arrow,
.active-arrow .sidebar-arrow {
  transform: rotate(90deg);
  transition: 0.2s ease-in-out;
}

.aactive span {
  color: var(--primary-color) !important;
}

.aactive::after {
  content: "";
  width: 6px;
  height: 100%;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  border-radius: 0 5px 5px 0;
}

.subActive {
  width: 100%;
  background-color: var(--light-primary);
  padding-right: 25%;
  border-radius: 6px;
}

.subActive span {
  color: var(--primary-color) !important;
}