.sidebar {
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow-y: hidden;
}

.sidebar-header {
  background: var(--secondary-gradient);
  width: 100%;
  padding: 1.4em 0;
}

.logo h1 {
  font-size: 1.1em;
  color: #fff;
  margin-left: 0.5em;
}

.user-profile {
  justify-content: space-evenly !important;
  padding-top: 1.5em;
  margin-top: 1.25em;
  cursor: pointer;
}

.user-avatar {
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.user-name {
  color: #fff;
  text-align: center;
}

.user-name h2 {
  font-size: 1.4em;
}

.user-name h3 {
  font-size: 0.8em;
}

.sidebar-nav {
  margin-bottom: 9em;
  margin-right: 5em;
}

.sidebar-nav ul {
  list-style: none;
  width: 100%;
  padding: 1em 0;
}

.sidebar-nav ul li {
  margin-bottom: 0.75rem;
}

.navlink {
  text-decoration: none;
  padding: 0.5em 0;
  position: relative;
  justify-content: start !important;
  padding-left: 25%;
  /* background-color: grey; */
}

.navlink img {
  filter: invert(60%) sepia(14%) saturate(20%) hue-rotate(337deg)
    brightness(90%) contrast(84%);
}

.navlink span {
  color: var(--text-color);
  margin-left: 1em;
  font-size: 1.1em;
}

.active img {
  filter: invert(46%) sepia(94%) saturate(2597%) hue-rotate(191deg)
    brightness(95%) contrast(101%);
}

.active span {
  color: var(--primary-color) !important;
}

.active::after {
  content: "";
  width: 6px;
  height: 100%;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  border-radius: 0 5px 5px 0;
}

.logout {
  cursor: pointer;
  margin-bottom: 2.5em;
  position: absolute;
  top: 90%;
  left: 20%;
  transform: translateX(50%);
}

/* Using Filter to change SVG color */
.logout img {
  filter: invert(27%) sepia(93%) saturate(7486%) hue-rotate(357deg)
    brightness(97%) contrast(114%);
}

.logout span {
  color: red;
  margin-left: 0.5em;
  font-size: 1.1em;
}
