.Classroom-container{
    width: 100%;
    margin: 1.5em 2em;
}

.Classroom-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
}

.Classroom-filter{
    gap: 2em;
}

.Classroom-filter .btn-outlined{
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 0.2em;
}

.Classroom-cardList{
    /* width: 100%; */
    /* background-color: grey; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2em;
    margin: 2em;
    margin-top: 2.5em;
}

.Classroom-card{
    background-color: #fff;
    padding: 1.5em 1em;
    border-radius: 6px;
    box-shadow: 2px 2px 10px 0px rgb(214, 214, 214);
    cursor: pointer;
}

.Classroom-card .Card-Info{
    /* background-color: green; */
    flex-direction: column;
}

.Card-Info .Card-Header{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Card-Info .Card-Course{
    position: absolute;
    top: -0.7em;
    right: 0;
    color: var(--primary-color);
}