.payments-regular-main {
    margin: 2em;
    width: 100%;
}

.payments-regular-main .payments-wrapper {
    width: 100%;
    border: 1px solid var(--grey-bg);
    border-collapse: collapse;
    margin-top: 2em;
    text-align: center;
}

.payments-regular-main .payments-wrapper thead th {
    background: var(--grey-bg);
    padding: 0.75em 0;
}

.payments-regular-main .payments-wrapper td {
    padding: 0.75em 0;
    color: var(--text-color);
    font-size: 0.9em;
}

.payments-regular-main .payments-wrapper .download-btn {
    margin:auto;
    gap: 0.25em;
}

.payment-details-hdng {
    text-align: center;
    color: var(--primary-color);
}

/* .payment-modal-content {
    margin: auto;
} */
.payment-content .strong {
    color: var(--dark-grey);
    font-weight: bold;
    padding-right: 3em;
}

.payment-details-close-icon {
    color: var(--strong-red);
    font-size: 20px;
    float: right;
    cursor: pointer;
}

.payment-content td{
    color: var(--text-color);
    padding-top: 2em;
}

.payment-content .download-btn {
    display: inline-flex;
}

