.faculty-attendance-main {
  margin: 2em;
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* .attendance-main .filter-wrapper {
  display: flex;
  gap: 1em;
  justify-content: space-between; 
} */

/* .attendance-main .select-filter {
  width: 400px;
} */

/* .attendance-main .filter-wrapper .search-form {
  width: 100%;
  margin-right: 1.5em;
} */
/* 
.attendance-main .filter-wrapper .search-input {
  width: 100%;
  padding: 0.85em 0.75em;
  background: var(--grey-bg);
  border: none;
  outline: none;
  border-radius: 5px;
  text-align: center;
} */

.faculty-attendance-main .filter-wrapper .search-input::placeholder {
  color: var(--light-grey);
}

.faculty-attendance-table-wrapper {
  width: 1000px;
  text-align: center;
  border-collapse: collapse;
  margin-top: 2em;
}

/* .attendance-table-wrapper .attendance-table-row {} */

.faculty-attendance-table-wrapper .thead th {
  padding: 0.75em;
  background: var(--grey-bg);
}

.faculty-attendance-table-wrapper td {
  padding: 0.75em;
  color: var(--text-color);
  font-size: 0.9em;
}

.faculty-attendance-table-wrapper .attendance-table-row {
  border: 1px solid var(--grey-bg);
}

.faculty-attendance-avatar-wrapper a {
  cursor: pointer;
}
