.assignEvaluator-container {
  position: relative;
  width: 100vw;
  margin: 0 2em;
}

.assignEvaluator-container .assign-Filters {
  display: flex;
  gap: 2em;
  padding: 5em 0 1.5em 0;
}

.assignEvaluator-container .assign-confirm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  font-size: 0.95em;
  gap: 0.5em;
  color: #fff;
  background-color: var(--primary-color);

  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;

  margin-left: 6em;
  margin-right: 1em;
}

.assignFaculty-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.assignFaculty-table th {
  background-color: var(--grey-bg);
  padding: 0.5em 0;
}

.assignFaculty-table td {
  padding: 0.5em 0;
  border-bottom: 1px solid var(--grey-bg);
}

.assignFaculty-avatar img {
  border-radius: 50%;
}

.assignFaculty-row .EvaluatorOrder {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 1em;
}

.assignFaculty-row .EvaluatorOrder button {
  padding: 0.4em 0.8em;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--light-grey);
  border-radius: 4px;
  font-size: 0.9em;
  box-shadow: 1px 1px 10px 0px rgba(145, 145, 145, 0.5);
  /* transform: skew(20deg); */
}
