.semesterMark-attendance-main {
  flex-direction: column;
  margin: 0 2em;
  margin-bottom: 5em;
  width: 100%;
  position: relative;
}

.semesterMark-attendance-main .filter-wrapper .search-input::placeholder {
  color: var(--light-grey);
}

.semesterMark-attendance-table-wrapper .attendance-textfield {
  width: 150px;
}

.semesterMark-attendance-table-wrapper {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin-top: 1em;
  box-shadow: 0px 2px 6px 0px rgb(243, 243, 243);
}

/* .attendance-table-wrapper .attendance-table-row {} */ 

.semesterMark-attendance-table-wrapper .thead th {
  padding: 0.75em;
  font-size: 0.9em;
  background: var(--grey-bg);
}

.semesterMark-attendance-table-wrapper td {
  padding: 0.75em;
  color: var(--text-color);
  font-size: 0.9em;
}

.semesterMark-attendance-table-wrapper .profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.semesterMark-attendance-table-wrapper .attendance-table-row {
  border: 1px solid var(--grey-bg);
}

.semesterMark-attendance-avatar-wrapper a {
  cursor: pointer;
}

.semesterMark-attendance-Header{
  width: 100%;
  justify-content: space-between;
  margin-top: 3.5em;
}


.semesterMark-attendance-SubjTitile{
  margin-right: 5em; 
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.semesterMark-attendance-SubjTitile h4{
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.semesterMark-attendance-SubjTitile h4 span{
  color: var(--primary-color);
  margin-left: 0.5em;
  font-size: 1.1em;
}

.semesterMark-attendance-Filters{
  gap: 1em;
}

.semesterMark-attendance-submit{
  width: 100%;
  margin-top: 2em;
  position: relative;
}

.semesterMark-attendance-submit button{
  padding: 0.6em 2em;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  border-radius: 4px;
  color: #fff;
  font-size: 0.9em;
  letter-spacing: 1px;
  position: absolute;
  right: 2em;
}


/* SEMESTER LIST CSS */
.semesterList-container{
  width: 100%;
  margin: 2em;
  position: relative;
}

.semesterList-header{
  justify-content: space-between;
  color: var(--primary-color)
}

.semesterList-table{
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin-top: 2.5em;
  box-shadow: var(--light-shadow);
}

.semesterList-table th{
  color: var(--dark-grey);
  padding: 0.75em;
  background: var(--grey-bg) !important;
}

.semesterList-table .semesterList-rows{
  border: 1px solid var(--grey-bg);
  text-align: center;
}

.semesterList-table .semesterList-rows td{
  padding: 1em 0.75em;
  color: var(--text-color);
  font-size: 0.9em;
}

.semesterList-table .semesterList-rows td a{
  text-decoration: none;
  color: var(--primary-color);
}

/* SEMESTER LIST CSS */

.semMarkDisplay-subjInfo{
  flex-direction: column;
  gap: 0.5em;
  color: var(--primary-color);
}