.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5em 2.5em;
}

.nav-logo{
    color: var(--primary-color);
    gap: 0.5em; 
}

.nav-logo h1{
    font-size: 2em;  
}

.nav-logo img{
    filter: brightness(0) saturate(100%) invert(44%) sepia(93%) saturate(522%) hue-rotate(170deg) brightness(94%) contrast(105%);
}

.nav-back .nav-btn{
    gap: 0.25em;
    font-size: 1.1em;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 0.4em 0.6em;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.nav-back .nav-btn:hover{
    color: #fff;
    background-color: var(--primary-color);
}

/* MOBILE CSS */
@media (max-width: 395px){
    .nav{
        width: 100%;
        flex-direction: column;
        margin: 1.5em 0;
    }

    .nav-logo{
        white-space: nowrap;
        margin: 1em 0;
    }

    .nav-back{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-left: 4em;
        margin-right: 2em;
    }

    .nav-back .nav-btn{
        border: none;
        color: var(--text-color);
    }

    .nav-back .nav-btn:hover{
        background: none;
        color: var(--text-color);
    }
}