.newdept-container{
    position: relative;
    width: 100vw;
    margin: 0 3em;
    margin-right: 3em;
    display: flex;
    flex-direction: column;
}

.newdept-title{
    color: var(--primary-color);
    margin-top: 3em;
}

.newdept-container form{
    margin-left: 2em;
}

.newdept-deptName{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 500px;
    margin-top: 1.5em;
}

.newdept-adminForm{
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    row-gap: 2em;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}