.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
  padding-bottom: 10em;
}

.student-form {
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  row-gap: 2em;
  align-items: center;
  justify-content: center;
  margin-top: 2.5em;
}

.form-wrapper h2 {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.8em;
}

.textarea {
  grid-column: 1/3;
}

.selectColor {
  color: #000;
}

.dob-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.sub-details {
  justify-content: none;
}

.sub-hdng {
  margin-top: 2em;
}

/* TextFiled lable Color */
.MuiInputLabel-root {
  color: var(--light-grey) !important;
}

.dob-label {
  margin-top: -1.5em;
  font-size: 0.8em !important;
  color: var(--text-color) !important;
}

#date,
#month,
#year {
  top: -6px;
}

.radio-container {
  top: -1em;
}

.radio-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Radio Align Center */
.MuiFormGroup-root {
  justify-content: center;
}

#radio-label {
  left: 1em !important;
}

.guardian-radio {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 2em 0 0 0;
}

.guardian-radio label {
  margin-right: 2.5em;
}

.SelectInput label {
  top: -6px;
}

.register-btn {
  background-color: var(--primary-color) !important;
  margin-top: 3em !important;
  font-size: 1em !important;
  font-weight: bold !important;
  text-transform: none !important;
  letter-spacing: 1px;
}

.to-login {
  margin-top: 2em;
  display: flex;
  align-items: center;
  color: var(--dark-grey);
}

.to-login a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 1em;
}
