.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    z-index: 4;
}

.modal-content-wrapper {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%,-50%);
    padding: 2em;
    background: var(--white);
    z-index: 5;
}