* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-gradient: linear-gradient(180deg, #2f98ff 0%, #004586 100%);
  --secondary-gradient: linear-gradient(180deg, #2f98ff 0%, #016fd6 100%);
  --color-secondary: "#d5d5d5";
  --primary-color: #1e8bf5;
  --text-color: #8b8b8b;
  --light-grey: #afafaf;
  --dark-grey: #5b5b5b;
  --strong-red: #e21717;
  --strong-green: #4dc514;
  --red: #d54747;
  --white: #fff;

  font-family: "Lato", sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 0.5em 1em;
  background: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 4px;
  font-size: 1.2em;
  cursor: pointer;
  justify-self: left;
  margin: 2.5em 0;
}

.btn:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.btn-outlined {
  text-decoration: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 0.5em 1em;
  transition: 200ms ease-in-out;
}

.btn-outlined:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.MuiTypography-root {
  color: var(--text-color);
}

.section {
  display: flex;
}
