.indent-main {
  width: 100%;
  margin: 2em;
}

.main-box {
  max-width: 100%;
  margin: auto;
}

.main-header {
  margin-top: 3em;
  padding: 0.5em 0em;
  text-align: center;
  width: 100%;
  color: var(--white);
  background-color: rgb(26, 128, 211);
}

.indent-table-wrapper {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin-top: 0em;
  box-shadow: 0px 2px 6px 0px rgb(243, 243, 243);
}

.indent-table-wrapper .thead th {
  padding: 0.75em;
  background: var(--grey-bg);
}

.indent-table-wrapper td {
  padding: 1em 0em;
  color: var(--text-color);
  font-size: 0.9em;
}

.indent-table-wrapper .indent-table-row {
  border: 1px solid var(--grey-bg);
}

.indent-box {
  width: 900px;

  margin: auto;
  height: 11em;

  padding: 16px;

}

.submit {
  border-color: white;
}