.indent-main {
    width: 100%;
    margin-left: 2em;
    margin-top: 2em;
}

.indent-main .filter-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.filter-eligibility {
    width: 50%;
    display: inline;

}

.filter-by-course {
    display: inline;
    width: 50%;

}

.main-box {
    width: 45%;
    height: 45%;


}

.main-header {
    margin-top: 3em;
    text-align: center;
    width: 100%;
    background-color: rgb(0, 140, 255);
}

.indent-table-wrapper {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-top: 0em;
}

.indent-table-wrapper .thead th {
    padding: 0.75em;
    background: var(--grey-bg);
}

.indent-table-wrapper td {
    padding: 0.75em;
    color: var(--text-color);
    font-size: 0.9em;
}

.indent-table-wrapper .indent-table-row {
    border: 1px solid var(--grey-bg);
}