.users-main {
  margin: 2em;
  width: 100%;
}

.users-table-wrapper {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin-top: 2em;
  box-shadow: 0px 2px 6px 0px rgb(243, 243, 243);
}

.users-table-wrapper .thead th {
  padding: 0.75em;
  background: var(--grey-bg);
}

.users-table-wrapper td {
  padding: 1.25em;
  color: var(--text-color);
  font-size: 0.9em;
}

.users-table-wrapper .users-table-row {
  border: 1px solid var(--grey-bg);
}

.users-table-wrapper .users-table-row .eligible {
  color: var(--strong-green);
  gap: 0.3em;
}

.users-table-wrapper .users-table-row .not-eligible {
  color: var(--strong-red);
  gap: 0.3em;
}

.users-table-row .users-details a{
  color: var(--primary-color);
}

.userinfo-container .userinfo-details-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.users-main .users-Filter{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2em;
  position: relative;
}

.users-main .users-Filter .btn-outlined{
  position: absolute;
  right: 0;
  margin-bottom: 5px;
  gap: 0.5em;
}

.users-main .hallticket-disabled {
  color: #ccc;
  border: 1px solid #ccc;
  pointer-events: none;
  cursor: disabled;
}

.users-eligibilityBtn{
  gap: 1em;
}

.users-eligibleBtn{
  gap: 0.5em;
  padding: 0.3em 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}

.users-eligibleBtn{
  background-color: var(--strong-green);
}

.users-eligibleTxt{
  gap: 0.5em;
  padding: 0.3em 0;
  color: var(--strong-green);
}
