.create-course-main {
  margin: 2em;
  width: 100%;
  position: relative;
}

.create-course-main form {
  width: 100%;
}

.create-course-main .back-btn {
  top: 0;
  left: 0;
}

.create-course-main .main-hdng {
  color: var(--primary-color);
  font-weight: bolder;
  font-size: 2em;
  margin-top: 1em;
}

.create-course-main .course-details-wrapper .course-meta {
  display: flex;
  gap: 2em;
  margin-top: 2em;
  margin-bottom: 3em;
  max-width: 600px;
}

.create-course-main
  .course-details-wrapper
  .course-meta
  .course-duration-select {
  width: 200px;
}

/* .create-course-main .semester-wrapper {
    margin: auto;
    max-width: 800px;
} */

.create-course-main .semester-wrapper .semester-header {
  display: flex;
  gap: 2em;
}

.create-course-main .semester-wrapper .semester-header h2 {
  color: var(--dark-grey);
}

.create-course-main .semester-wrapper .semester .semester-header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.semester .semester-header .remove-svg {
  position: absolute;
  right: -0.5em;
  top: -0.5em;
  cursor: pointer;
}

.create-course-main .semester-wrapper .semester {
  max-width: 100%;
  padding: 1.5em;
  border: 1px solid var(--grey-bg);
  margin-top: 2em;
  box-shadow: 4px 4px 4px -5px rgba(145, 145, 145, 1);
  background-color: #fff;
}

.create-course-main .semester-wrapper .course-subject-list th {
  text-align: left;
  /* background-color: var(--grey-bg); */
  background: var(--primary-color);
  color: #fff;
  font-weight: 200;
  padding: 0.75em;
}

.create-course-main .semester-wrapper .course-subject-list {
  width: 100%;
  font-size: 0.9em;
  color: var(--dark-grey);
  border-collapse: collapse;
}

.create-course-main  .course-subject-list-row td{
  font-size: 1em;
  padding: 0.75em;
  border: 1px solid var(--grey-bg);
  font-weight: 500;
}

.create-course-main  .course-subject-list-row .course-subject-list-row-border {
  border: none;
  background: #fff !important;
}

.create-course-main .semester-wrapper .semester .sem-text {
  color: var(--text-color);
  font-size: 1em;
  margin-bottom: 1em;
}

.create-course-main .semester-wrapper .semester .MuiInput-input {
  border-bottom: none !important;
}

.create-course-main .subject-details-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2em;
}

.create-course-main .add-subject-btn,
.create-course-main .new-sem-btn {
  gap: 0.5em;
}

.semester .subject-info-main {
  margin-top: 1em;
}

.create-course-main .subject-info-wrapper {
  display: inline-flex;
  padding: 0.5em 0.75em;
  background: var(--light-primary);
  /* padding: 1em; */
  color: var(--text-color);
  gap: 1em;
  margin-top: 1em;
  margin-right: 1em;
  border-radius: 6px;
}

.create-course-main .subject-info-wrapper h3 {
  color: var(--primary-color);
  margin-bottom: 0.25em;
  font-size: 1em;
}

.create-course-main .subject-info-wrapper p {
  font-size: 0.9em;
}

.create-course-main .course-submit-btn {
  margin-top: 2em;
}

.course-meta .course-duration-select .MuiInputLabel-root {
  top: -0.5em;
}

.create-course-main .create-svg {
  cursor: pointer;
}

.semester .subject-details-wrapper .subject-input label {
  margin-left: 0.3em;
}

.semester .subject-details-wrapper .add-subject-btn {
  font-size: 0.9em;
  width: 10em;
  height: 2.5em;
  padding: 0 1em;
}

.semester .subject-info-wrapper .subject-info {
  flex-direction: column;
}

.create-course-main .semester-wrapper .course-subject-list .close-svg {
  position: relative;
  cursor: pointer;
}

.subject-error {
  color: var(--red);
  background-color: rgb(255, 235, 235);
  padding: 0.75em 0em;
  font-size: 0.9em;
  text-align: center;
  border-radius: 3px;
  max-width: 650px;
  margin-top: 1.5em;
}
