.notFound-container{
    background-color: var(--primary-color);
    height: 100vh;
}

.notFound-logo{
    color: #fff;
    font-size: 1em;
    gap: 0.5em;
    position: absolute;
    top: 2em;
    left: 2em;
}

.notFound-Img{
    /* background-color: rgba(255, 255, 255, 1); */
    width: 300px;
    aspect-ratio: 1/1;
    padding: 2em;
    border-radius: 50%;
    gap: 2em;
}

